.footer__author{
    margin: 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    margin: 18px 0 18px 0;
    font-weight: normal;
}