.kaufman{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 90px 0 90px 0;
  }