.footer__column-heading{
    font-family: 'Inter-SemiBold', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0;
}