.header__title{
    font-family: 'Inter-Bold';
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    display: flex;
    width: 730px;
    position: absolute;
    left: 64px;
    z-index: 1;
}