.two-columns__main-text__paragraph{
    font-family: 'Inter-Regular';
    line-height: 34px;
    font-size: 24px;
}
.two-columns__main-text__paragraph{
    margin-top: 30px;
}
.two-columns__main-text__paragraph:first-of-type{
    margin-top: 0;
}