.footer__column__social__column-links{
    text-decoration: none;
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
}
.footer__column__social__column-links:hover{
    animation: opacity 0.5s linear forwards;
}